<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Advance Blog Application</title>
    <link rel="stylesheet" href="./styles/index.css" />
  </head>
  <body>
    <nav class="navbar_wrapper">
      <div class="container">
        <div class="navbar">
          <div class="navbar_logo_wrapper">
            <div>
              <a href="#">Logo</a>
            </div>
            <div class="input_search">
              <input type="search" name="" id="" />
            </div>
          </div>
          <div class="navbar_items">
            <a class="btn_outline" href="">Create Post</a>
            <a class="profile_icon" href="#">
              <img
                src="https://imranbappy.netlify.app/_ipx/w_640,q_75/%2F_next%2Fstatic%2Fmedia%2Fimran-hosen.51750c04.png?url=%2F_next%2Fstatic%2Fmedia%2Fimran-hosen.51750c04.png&w=640&q=75"
                alt="Imran"
              />
            </a>
          </div>
        </div>
      </div>
    </nav>
  </body>
</html>
